.grid {
  display: grid;
  row-gap: 2rem;
  max-width: 80rem;
  margin: auto;
  padding: 1rem;
  column-gap: 1rem;
}

@media (min-width: 40rem) {
  .grid {
    padding: 1rem 2rem;
  }

  .grid--columns_2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid--columns_3 {
    grid-template-columns: repeat(3, 1fr);
  }

  .grid--columns_4 {
    grid-template-columns: repeat(4, 1fr);
  }

  .grid--columns_5 {
    grid-template-columns: repeat(5, 1fr);
  }

  .grid--columns_6 {
    grid-template-columns: repeat(6, 1fr);
  }
}
