:root {
  /* RED */
  --red-100: hsl(0, 60%, 80%);
  --red-300: hsl(0, 60%, 65%);
  --red-500: hsl(0, 60%, 50%);
  --red-700: hsl(0, 60%, 35%);
  --red-900: hsl(0, 60%, 20%);

  /* ORANGE */
  --orange-100: hsl(20, 60%, 80%);
  --orange-300: hsl(20, 60%, 65%);
  --orange-500: hsl(20, 60%, 50%);
  --orange-700: hsl(20, 60%, 35%);
  --orange-900: hsl(20, 60%, 20%);

  /* YELLOW */
  --yellow-100: hsl(50, 60%, 80%);
  --yellow-300: hsl(50, 60%, 65%);
  --yellow-500: hsl(50, 60%, 50%);
  --yellow-700: hsl(50, 60%, 35%);
  --yellow-900: hsl(50, 60%, 20%);

  /* GREEN */
  --green-100: hsl(120, 60%, 80%);
  --green-300: hsl(120, 60%, 65%);
  --green-500: hsl(120, 60%, 50%);
  --green-700: hsl(120, 60%, 35%);
  --green-900: hsl(120, 60%, 20%);

  /* BLUE */
  --blue-100: hsl(200, 60%, 80%);
  --blue-300: hsl(200, 60%, 65%);
  --blue-500: hsl(200, 60%, 50%);
  --blue-700: hsl(200, 60%, 35%);
  --blue-900: hsl(200, 60%, 20%);

  /* PURPLE */
  --purple-100: hsl(260, 60%, 80%);
  --purple-300: hsl(260, 60%, 65%);
  --purple-500: hsl(260, 60%, 50%);
  --purple-700: hsl(260, 60%, 35%);
  --purple-900: hsl(260, 60%, 20%);

  /* PINK */
  --pink-100: hsl(320, 60%, 80%);
  --pink-300: hsl(320, 60%, 65%);
  --pink-500: hsl(320, 60%, 50%);
  --pink-700: hsl(320, 60%, 35%);
  --pink-900: hsl(320, 60%, 20%);

  /* BROWN */
  --brown-100: hsl(13, 20%, 80%);
  --brown-300: hsl(13, 20%, 65%);
  --brown-500: hsl(13, 20%, 50%);
  --brown-700: hsl(13, 20%, 35%);
  --brown-900: hsl(13, 20%, 20%);

  /* GREY */
  --grey-100: hsl(0, 0%, 90%);
  --grey-200: hsl(0, 0%, 80%);
  --grey-300: hsl(0, 0%, 70%);
  --grey-400: hsl(0, 0%, 60%);
  --grey-500: hsl(0, 0%, 50%);
  --grey-600: hsl(0, 0%, 40%);
  --grey-700: hsl(0, 0%, 30%);
  --grey-800: hsl(0, 0%, 20%);
  --grey-900: hsl(0, 0%, 10%);

  /* BLACK & WHITE */
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
}
